html{
    font-size: 10px;
    font-family: 'Peddana', serif;/*Believe in yourself */
    background-color: #2D8F9E;
}
h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding:20px 0;
    color:  #2D8F9E;
    text-shadow: 2px 3px 2px black;
}
body{
    width: 500px;
    background-color: cornsilk;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
}
p,li{
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
}
img  {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}
a:hover{
    color:blue;
}